* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application_type-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 5px 0;
}

.application_type-block p {
    margin-right: 20px;
}

.width {
    width: 140px;
}

.parg {
    text-align: center;
    margin-top: 20px;
}

.none {
    display: none;
}