/* START: Task 1 Styles */

div#task1 {
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;
}

tbody {
    width: auto;
    height: auto;
}

.backGround {
    background-color: blue;
    background-color: white;
}

table {
    font-family: "Times New Roman", Times, serif;
    color: black;
    position: absolute;
    left: 100px;
    top: 100px;
    border-spacing: 1px;
    background-color: white;
}

.tableBG {
    background-color: yellow;
    background-color: white;
}

tr {
    width: 150px;
    height: 50px;
    background-color: white;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    color: rgb(15, 1, 1);
    text-decoration: solid black;
}

.tdColor {
    background-color: green;
    background-color: blue;
    background-color: white;
}


/* END: Task 1 Styles */


/* START: Task 2 Styles */

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid green;
}


/* END: Task 2 Styles */


/* START: Task 3 Styles */


/* END: Task 3 Styles */